{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/app.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://node_modules/what-input/dist/what-input.js',{'priority':99, 'group':'bottom'}) %}
        {% do assets.addJs('theme://node_modules/foundation-sites/dist/js/foundation.js',{'priority':98, 'group':'bottom'}) %}
        {% do assets.addJs('theme://node_modules/foundation-sites/dist/js/plugins/foundation.responsiveMenu.js',{'priority':97, 'group':'bottom'}) %}
        {% do assets.addJs('theme://node_modules/foundation-sites/dist/js/plugins/foundation.util.triggers.js',{'priority':96, 'group':'bottom'}) %}
        {% do assets.addJs('theme://node_modules/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.js',{'priority':95, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/app.js',{'priority':94, 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    {% include 'partials/page_header.html.twig' %}
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
